/.idea
/.vscode
*.bak
*.db
*.f04
*.h5
*.jar
*.jou
*.ini
*.rej
*.pdf
*.pyc
*.zip
./notebooks/analyses/00_Failed_Attempt_of_the_Nonlinear_Buckling_Analysis_of_the_uCRM-9/nonlinear_buckling_1_0g.op2
./notebooks/analyses/00_Failed_Attempt_of_the_Nonlinear_Buckling_Analysis_of_the_uCRM-9/nonlinear_buckling_2_5g.op2notebooks/analyses/02_Supercritical_Pitchfork_Bifurcation_of_Euler_Column/arclength_method.f04
./notebooks/analyses/00_Failed_Attempt_of_the_Nonlinear_Buckling_Analysis_of_the_uCRM-9/nonlinear_buckling_2_9g.op2notebooks/analyses/02_Supercritical_Pitchfork_Bifurcation_of_Euler_Column/arclength_method_pxpcr2_investigation_alternative_subcases.f04
./notebooks/analyses/02_Supercritical_Pitchfork_Bifurcation_of_Euler_Column/arclength_method_pxpcr2_investigation_alternative_subcases.op2
./notebooks/analyses/02_Supercritical_Pitchfork_Bifurcation_of_Euler_Column/arclength_method_pxpcr_1_7.f04
./notebooks/analyses/02_Supercritical_Pitchfork_Bifurcation_of_Euler_Column/mixed_methods_pxpcr2_investigation_alternative_subcases.f04
./notebooks/analyses/02_Supercritical_Pitchfork_Bifurcation_of_Euler_Column/mixed_methods_pxpcr_1_5.f04
./notebooks/analyses/03_Equilibrium_Diagram_of_a_Thin_Plate_under_Uniaxial_Compression/equilibrium_paths_nonlinear_analysis.op2
./notebooks/analyses/08_Nonlinear_Buckling_Analysis_of_a_Reinforced_Box_Beam/nonlinear_buckling_verification.op2
./notebooks/analyses/11_Equilibrium_Diagram_of_a_Box_Beam_Under_Uniaxial_Compression/reinforced_box_beam_nonlinear_analysis.op2
./notebooks/analyses/11_Equilibrium_Diagram_of_a_Box_Beam_Under_Uniaxial_Compression/sol106.db
./notebooks/analyses/11_Equilibrium_Diagram_of_a_Box_Beam_Under_Uniaxial_Compression/unreinforced_box_beam_nonlinear_analysis.op2
./notebooks/analyses/12_Nonlinear_Buckling_Analysis_of_a_Box_Beam_Reinforced_with_Ribs_and_Stiffeners/nonlinear_buckling_verification.op2
./notebooks/analyses/13_On_the_Correct_Application_of_the_Nonlinear_Buckling_Method/ribs_reinforced_box_beam.op2
./notebooks/analyses/13_On_the_Correct_Application_of_the_Nonlinear_Buckling_Method/ribs_stiffeners_reinforced_box_beam.op2
./notebooks/analyses/16_Investigation_of_the_Equilibrium_Paths_of_the_Box_Beam_Reinforced_with_Ribs_and_Stiffeners/path_existence_verification_2psol105_epsp1e-3_modified_load_desiter2.op2
./notebooks/analyses/17_Nonlinear_Buckling_Analysis_of_the_uCRM-9/nonlinear_analysis_error_function_puv.op2
./notebooks/analyses/17_Nonlinear_Buckling_Analysis_of_the_uCRM-9/nonlinear_analysis_error_function_pw.op2
./notebooks/analyses/17_Nonlinear_Buckling_Analysis_of_the_uCRM-9/nonlinear_analysis_error_function_pwu.op2
./notebooks/analyses/17_Nonlinear_Buckling_Analysis_of_the_uCRM-9/nonlinear_analysis_error_function_pwuv.op2
./notebooks/analyses/17_Nonlinear_Buckling_Analysis_of_the_uCRM-9/nonlinear_analysis_load_tolerance_1e-01.op2
./notebooks/analyses/17_Nonlinear_Buckling_Analysis_of_the_uCRM-9/nonlinear_analysis_load_tolerance_1e-02.op2
./notebooks/analyses/17_Nonlinear_Buckling_Analysis_of_the_uCRM-9/nonlinear_analysis_load_tolerance_1e-03.op2
./notebooks/analyses/17_Nonlinear_Buckling_Analysis_of_the_uCRM-9/nonlinear_buckling_method_verification.op2
./notebooks/analyses/17_Nonlinear_Buckling_Analysis_of_the_uCRM-9/path_existence_verification_desiter5.op2
./notebooks/analyses/17_Nonlinear_Buckling_Analysis_of_the_uCRM-9/path_existence_verification_epsp1e-2.op2
./notebooks/analyses/19_One-variable_Optimization_of_the_CRM-like_Box_Beam/natural_path_verification_ninc10.op2
./notebooks/analyses/19_One-variable_Optimization_of_the_CRM-like_Box_Beam/box_beam_sol_106.op2
