/.idea
/.vscode
*.bak
*.db
*.f04
*.h5
*.jar
*.jou
*.ini
*.rej
*.pdf
*.pyc
*.zip
notebooks/analyses/00_Failed_Attempt_of_the_Nonlinear_Buckling_Analysis_of_the_uCRM-9/nonlinear_buckling_1_0g.op2
notebooks/analyses/00_Failed_Attempt_of_the_Nonlinear_Buckling_Analysis_of_the_uCRM-9/nonlinear_buckling_2_5g.op2
notebooks/analyses/00_Failed_Attempt_of_the_Nonlinear_Buckling_Analysis_of_the_uCRM-9/nonlinear_buckling_2_9g.op2
notebooks/analyses/02_Supercritical_Pitchfork_Bifurcation_of_Euler_Column/arclength_method.f04
notebooks/analyses/02_Supercritical_Pitchfork_Bifurcation_of_Euler_Column/arclength_method.op2
notebooks/analyses/02_Supercritical_Pitchfork_Bifurcation_of_Euler_Column/arclength_method_px1_4.f04
notebooks/analyses/02_Supercritical_Pitchfork_Bifurcation_of_Euler_Column/arclength_method_px1_7.f04
notebooks/analyses/02_Supercritical_Pitchfork_Bifurcation_of_Euler_Column/arclength_method_px1_7.op2
notebooks/analyses/02_Supercritical_Pitchfork_Bifurcation_of_Euler_Column/arclength_method_px2_investigation_alternative_subcases.f04
notebooks/analyses/02_Supercritical_Pitchfork_Bifurcation_of_Euler_Column/arclength_method_px2_investigation_alternative_subcases.op2
notebooks/analyses/02_Supercritical_Pitchfork_Bifurcation_of_Euler_Column/mixed_methods_px1_5.f04
notebooks/analyses/02_Supercritical_Pitchfork_Bifurcation_of_Euler_Column/mixed_methods_px1_5.op2
notebooks/analyses/02_Supercritical_Pitchfork_Bifurcation_of_Euler_Column/mixed_methods_px2_investigation_alternative_subcases.f04
notebooks/analyses/03_Equilibrium_Diagram_of_a_Thin_Plate_under_Uniaxial_Compression/equilibrium_paths_nonlinear_analysis.f04
notebooks/analyses/03_Equilibrium_Diagram_of_a_Thin_Plate_under_Uniaxial_Compression/equilibrium_paths_nonlinear_analysis.op2
notebooks/analyses/04_Nonlinear_Buckling_Analysis_of_a_Box_Beam/concentrated_load_flexible_tip_nonlinear_buckling_method.op2
notebooks/analyses/04_Nonlinear_Buckling_Analysis_of_a_Box_Beam/concentrated_load_rigid_tip_nonlinear_buckling_method.op2
notebooks/analyses/04_Nonlinear_Buckling_Analysis_of_a_Box_Beam/distributed_load_flexible_tip_nonlinear_buckling_method.op2
notebooks/analyses/04_Nonlinear_Buckling_Analysis_of_a_Box_Beam/distributed_load_rigid_tip_nonlinear_buckling_method.op2
notebooks/analyses/06_Verification_of_SOL_106_Nonlinear_Buckling_Method/nonlinear_buckling_verification.op2
notebooks/analyses/06_Verification_of_SOL_106_Nonlinear_Buckling_Method/nonlinear_buckling_verification_zoomed.op2
notebooks/analyses/08_Nonlinear_Buckling_Analysis_of_a_Reinforced_Box_Beam/nonlinear_buckling_verification.op2
notebooks/analyses/10_On_the_Mechanical_Cause_of_the_Box_Beam_Broken_Supercritical_Pitchfork/reinforced_box_beam_nonlinear_analysis.op2
notebooks/analyses/11_Equilibrium_Diagram_of_a_Box_Beam_Under_Uniaxial_Compression/reinforced_box_beam_nonlinear_analysis.op2
notebooks/analyses/11_Equilibrium_Diagram_of_a_Box_Beam_Under_Uniaxial_Compression/unreinforced_box_beam_nonlinear_analysis.op2
notebooks/analyses/12_Nonlinear_Buckling_Analysis_of_a_Box_Beam_Reinforced_with_Ribs_and_Stiffeners/linear_buckling_1184400_elements.bdf
notebooks/analyses/12_Nonlinear_Buckling_Analysis_of_a_Box_Beam_Reinforced_with_Ribs_and_Stiffeners/linear_buckling_1184400_elements.op2
notebooks/analyses/12_Nonlinear_Buckling_Analysis_of_a_Box_Beam_Reinforced_with_Ribs_and_Stiffeners/linear_buckling_279072_elements.op2
notebooks/analyses/12_Nonlinear_Buckling_Analysis_of_a_Box_Beam_Reinforced_with_Ribs_and_Stiffeners/linear_buckling_582408_elements.bdf
notebooks/analyses/12_Nonlinear_Buckling_Analysis_of_a_Box_Beam_Reinforced_with_Ribs_and_Stiffeners/linear_buckling_582408_elements.op2
notebooks/analyses/12_Nonlinear_Buckling_Analysis_of_a_Box_Beam_Reinforced_with_Ribs_and_Stiffeners/nonlinear_analysis_maxalr1_0001.op2
notebooks/analyses/12_Nonlinear_Buckling_Analysis_of_a_Box_Beam_Reinforced_with_Ribs_and_Stiffeners/nonlinear_buckling_verification.op2
notebooks/analyses/13_On_the_Correct_Application_of_the_Nonlinear_Buckling_Method/ribs_reinforced_box_beam.op2
notebooks/analyses/13_On_the_Correct_Application_of_the_Nonlinear_Buckling_Method/ribs_stiffeners_reinforced_box_beam.op2
notebooks/analyses/13_On_the_Correct_Application_of_the_Nonlinear_Buckling_Method/unreinforced_box_beam.op2
notebooks/analyses/16_Investigation_of_the_Equilibrium_Paths_of_the_Box_Beam_Reinforced_with_Ribs_and_Stiffeners/equilibrium_path_verification_epsp1e-1.op2
notebooks/analyses/18_Development_and_Nonlinear_Structural_Stability_Analysis_of_a_CRM-like_Box_Beam_Model/sol_105_1502064_elements.bdf
notebooks/analyses/18_Development_and_Nonlinear_Structural_Stability_Analysis_of_a_CRM-like_Box_Beam_Model/sol_105_1502064_elements.op2
notebooks/analyses/18_Development_and_Nonlinear_Structural_Stability_Analysis_of_a_CRM-like_Box_Beam_Model/sol_105_301248_elements.bdf
notebooks/analyses/18_Development_and_Nonlinear_Structural_Stability_Analysis_of_a_CRM-like_Box_Beam_Model/sol_105_301248_elements.op2
notebooks/analyses/18_Development_and_Nonlinear_Structural_Stability_Analysis_of_a_CRM-like_Box_Beam_Model/sol_105_3337920_elements.bdf
notebooks/analyses/18_Development_and_Nonlinear_Structural_Stability_Analysis_of_a_CRM-like_Box_Beam_Model/sol_105_3337920_elements.op2
notebooks/analyses/18_Development_and_Nonlinear_Structural_Stability_Analysis_of_a_CRM-like_Box_Beam_Model/sol_105_674424_elements.bdf
notebooks/analyses/18_Development_and_Nonlinear_Structural_Stability_Analysis_of_a_CRM-like_Box_Beam_Model/sol_105_674424_elements.op2
notebooks/analyses/18_Development_and_Nonlinear_Structural_Stability_Analysis_of_a_CRM-like_Box_Beam_Model/sol_106_14976_elements.f04
notebooks/analyses/18_Development_and_Nonlinear_Structural_Stability_Analysis_of_a_CRM-like_Box_Beam_Model/sol_106_14976_elements.op2
notebooks/analyses/18_Development_and_Nonlinear_Structural_Stability_Analysis_of_a_CRM-like_Box_Beam_Model/sol_106_14976_elements_epsu1e-4.op2
notebooks/analyses/18_Development_and_Nonlinear_Structural_Stability_Analysis_of_a_CRM-like_Box_Beam_Model/sol_106_48300_elements.f04
notebooks/analyses/18_Development_and_Nonlinear_Structural_Stability_Analysis_of_a_CRM-like_Box_Beam_Model/sol_106_48300_elements.op2
notebooks/analyses/18_Development_and_Nonlinear_Structural_Stability_Analysis_of_a_CRM-like_Box_Beam_Model/sol_106_desiter5_equilibrium_path_verification.op2
notebooks/analyses/18_Development_and_Nonlinear_Structural_Stability_Analysis_of_a_CRM-like_Box_Beam_Model/sol_106_error_function_pw_equilibrium_path_verification.op2
notebooks/analyses/18_Development_and_Nonlinear_Structural_Stability_Analysis_of_a_CRM-like_Box_Beam_Model/sol_106_maxalr1p0001.op2
notebooks/analyses/19_One-variable_Optimization_of_the_CRM-like_Box_Beam/sol_106_epsu1e-4_semi.op2
notebooks/analyses/19_One-variable_Optimization_of_the_CRM-like_Box_Beam/sol_106_epsu1e-4_auto.op2
notebooks/analyses/19_One-variable_Optimization_of_the_CRM-like_Box_Beam/sol_106_epsu1e-4.op2
notebooks/analyses/19_One-variable_Optimization_of_the_CRM-like_Box_Beam/sol_106_epsu1e-4_2cores.op2
notebooks/analyses/19_One-variable_Optimization_of_the_CRM-like_Box_Beam/sol_106_epsu1e-4_4cores.op2
notebooks/analyses/19_One-variable_Optimization_of_the_CRM-like_Box_Beam/sol_106_epsu1e-4_8cores.op2
notebooks/analyses/19_One-variable_Optimization_of_the_CRM-like_Box_Beam/sol_106_epsu1e-4_12cores.op2
notebooks/analyses/19_One-variable_Optimization_of_the_CRM-like_Box_Beam/sol_106_optimization3.op2
notebooks/analyses/19_One-variable_Optimization_of_the_CRM-like_Box_Beam/sol_106_optimization3_feasible.op2
notebooks/analyses/19_One-variable_Optimization_of_the_CRM-like_Box_Beam/sol_106_epsu1e-3.op2
notebooks/analyses/19_One-variable_Optimization_of_the_CRM-like_Box_Beam/sol_106_maxiter3_desiter3.op2
notebooks/analyses/19_One-variable_Optimization_of_the_CRM-like_Box_Beam/sol_106_maxiter3_desiter4.op2
notebooks/analyses/20_Two-variables_Optimization_of_the_CRM-like_Box_Beam/sol_105_initial_structure_48300_elements.op2
notebooks/analyses/20_Two-variables_Optimization_of_the_CRM-like_Box_Beam/sol_105_nonlinear_optimization_48300_elements.op2
notebooks/analyses/20_Two-variables_Optimization_of_the_CRM-like_Box_Beam/sol_106_linear_optimization_epsu1e-5.op2
notebooks/analyses/20_Two-variables_Optimization_of_the_CRM-like_Box_Beam/sol_106_linear_optimization_mxinc200.op2
notebooks/analyses/20_Two-variables_Optimization_of_the_CRM-like_Box_Beam/sol_106_linear_optimization.op2
notebooks/analyses/20_Two-variables_Optimization_of_the_CRM-like_Box_Beam/sol_106_nonlinear_optimization_48300_elements.op2
notebooks/analyses/20_Two-variables_Optimization_of_the_CRM-like_Box_Beam/sol_106_nonlinear_optimization_feasible.op2
notebooks/analyses/20_Two-variables_Optimization_of_the_CRM-like_Box_Beam/sol_106_nonlinear_optimization.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_105_3337920_elements.bdf
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_105_3337920_elements.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_105_follower_linear_opt_start.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_105_follower_linear_opt.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_105_follower_nonlinear_opt.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_105_lra_linear_opt_start.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_105_lra_linear_opt.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_105_lra_nonlinear_opt.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_105_non_follower_linear_opt_start.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_105_non_follower_linear_opt.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_105_non_follower_nonlinear_opt.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_106_33120_elements.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_106_108276_elements.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_106_follower_linear_opt_start.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_106_follower_linear_opt.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_106_follower_nonlinear_opt_start.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_106_follower_nonlinear_opt.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_106_lra_linear_opt_start.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_106_lra_linear_opt.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_106_lra_nonlinear_opt_start.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_106_lra_nonlinear_opt.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_106_non_follower_linear_opt.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_106_non_follower_nonlinear_opt_start.op2
notebooks/analyses/21_Optimization_of_the_CRM-like_Box_Beam_with_Distributed_Load/sol_106_non_follower_nonlinear_opt.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_under_Combined_Bending_and_Torsion_Load/sol106.db
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_under_Combined_Bending_and_Torsion_Load/sol_105_1502064_elements.bdf
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_under_Combined_Bending_and_Torsion_Load/sol_105_1502064_elements.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_under_Combined_Bending_and_Torsion_Load/sol_105_301248_elements.bdf
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_under_Combined_Bending_and_Torsion_Load/sol_105_301248_elements.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_under_Combined_Bending_and_Torsion_Load/sol_105_3337920_elements.bdf
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_under_Combined_Bending_and_Torsion_Load/sol_105_3337920_elements.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_under_Combined_Bending_and_Torsion_Load/sol_105_674424_elements.bdf
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_under_Combined_Bending_and_Torsion_Load/sol_105_674424_elements.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_under_Combined_Bending_and_Torsion_Load/sol_106_14976_elements.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_under_Combined_Bending_and_Torsion_Load/sol_106_48300_elements.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_under_Combined_Bending_and_Torsion_Load/sol_106_linear_opt.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_under_Combined_Bending_and_Torsion_Load/sol_106_nonlinear_opt.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_under_Combined_Bending_and_Torsion_Load/sol_106_nonlinear_opt_start.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_with_Curved_Skins/old/sol_106_linear_opt.f04
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_with_Curved_Skins/old/sol_106_linear_opt.f06
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_with_Curved_Skins/sol_105_1502064_elements.bdf
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_with_Curved_Skins/sol_105_1502064_elements.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_with_Curved_Skins/sol_105_301248_elements.bdf
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_with_Curved_Skins/sol_105_301248_elements.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_with_Curved_Skins/sol_105_3337920_elements.bdf
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_with_Curved_Skins/sol_105_3337920_elements.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_with_Curved_Skins/sol_105_674424_elements.bdf
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_with_Curved_Skins/sol_105_674424_elements.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_with_Curved_Skins/sol_105_linear_opt.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_with_Curved_Skins/sol_105_linear_opt_start.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_with_Curved_Skins/sol_106_108276_elements.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_with_Curved_Skins/sol_106_33120_elements.f04
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_with_Curved_Skins/sol_106_33120_elements.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_with_Curved_Skins/sol_106_linear_opt.f04
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_with_Curved_Skins/sol_106_linear_opt.op2
notebooks/analyses/22_Optimization_of_the_CRM-like_Box_Beam_with_Curved_Skins/sol_106_nonlinear_opt_start.op2
notebooks/analyses/Nonlinear_Analysis_of_an_Experimetal_Box_Beam/1mm.db
notebooks/analyses/Nonlinear_Analysis_of_an_Experimetal_Box_Beam/2mm.db
notebooks/analyses/Nonlinear_Analysis_of_an_Experimetal_Box_Beam/box_beam_ribs_4e-01mm_nonlinear_analysis.op2
notebooks/analyses/Nonlinear_Analysis_of_an_Experimetal_Box_Beam/box_beam_ribs_nonlinear_analysis.op2
notebooks/analyses/Nonlinear_Analysis_of_an_Experimetal_Box_Beam/nonlinear_analysis.op2
notebooks/analyses/Nonlinear_Analysis_of_an_Experimetal_Box_Beam/nonlinear_analysis_1mm.op2
notebooks/analyses/Nonlinear_Structural_Stability_of_the_Pazy_Wing/nonlinear_analysis_no_dmap.op2
notebooks/analyses/Nonlinear_Structural_Stability_of_the_Pazy_Wing/sol106.db
notebooks/analyses/SciTech_2024/box_beam_sol_106.op2
notebooks/analyses/SciTech_2024/initial_box_beam_nonlinear_analysis.op2
notebooks/analyses/SciTech_2024/linear_opt_sol_106_epsp1e-5.f04
notebooks/analyses/SciTech_2024/linear_opt_sol_106_epsp1e-5.op2
notebooks/analyses/SciTech_2024/nonlinear_opt_sol_106.op2
notebooks/analyses/The_Aeronautical_Journal_2023/box_beam_opt_sol_105.bdf
notebooks/analyses/The_Aeronautical_Journal_2023/box_beam_opt_sol_106.bdf
notebooks/analyses/The_Aeronautical_Journal_2023/box_beam_opt_sol_106.op2
notebooks/analyses/The_Aeronautical_Journal_2023/box_beam_start_sol_106.bdf
notebooks/analyses/The_Aeronautical_Journal_2023/equilibrium_path_verification.op2
notebooks/analyses/The_Aeronautical_Journal_2023/equilibrium_path_verification_maxiter2.f04
notebooks/analyses/The_Aeronautical_Journal_2023/equilibrium_path_verification_maxiter2.op2
notebooks/analyses/The_Aeronautical_Journal_2023/linear_buckling_1502064_elements.bdf
notebooks/analyses/The_Aeronautical_Journal_2023/linear_buckling_1502064_elements.op2
notebooks/analyses/The_Aeronautical_Journal_2023/linear_buckling_301248_elements.op2
notebooks/analyses/The_Aeronautical_Journal_2023/linear_buckling_3337920_elements.bdf
notebooks/analyses/The_Aeronautical_Journal_2023/linear_buckling_3337920_elements.op2
notebooks/analyses/The_Aeronautical_Journal_2023/linear_buckling_674424_elements.bdf
notebooks/analyses/The_Aeronautical_Journal_2023/linear_buckling_674424_elements.op2
notebooks/analyses/The_Aeronautical_Journal_2023/nonlinear_analysis_14976_elements.f04
notebooks/analyses/The_Aeronautical_Journal_2023/nonlinear_analysis_14976_elements.op2
notebooks/analyses/The_Aeronautical_Journal_2023/nonlinear_analysis_48300_elements.f04
notebooks/analyses/The_Aeronautical_Journal_2023/nonlinear_analysis_48300_elements.op2
