/.idea
/.vscode
*.bak
*.db
*.f04
*.f06
*.log
*.jar
*.jou
*.ini
*.rej
*.h5
*.pdf
*.zip
notebooks/analyses/02_Supercritical_Pitchfork_Bifurcation_of_Euler_Column/arclength_method_pxpcr2_investigation_alternative_subcases.op2
notebooks/analyses/03_Equilibrium_Diagram_of_a_Thin_Plate_under_Uniaxial_Compression/equilibrium_paths_nonlinear_analysis.op2
notebooks/analyses/08_Nonlinear_Buckling_Analysis_of_a_Reinforced_Box_Beam/nonlinear_buckling_verification.op2
notebooks/analyses/10_On_the_Mechanical_Cause_of_the_Box_Beam_Bifurcation_Break/reinforced_box_beam_nonlinear_analysis.op2
notebooks/analyses/11_Equilibrium_Diagram_of_a_Box_Beam_Under_Uniaxial_Compression/reinforced_box_beam_nonlinear_analysis.op2
notebooks/analyses/11_Equilibrium_Diagram_of_a_Box_Beam_Under_Uniaxial_Compression/sol106.db
notebooks/analyses/11_Equilibrium_Diagram_of_a_Box_Beam_Under_Uniaxial_Compression/unreinforced_box_beam_nonlinear_analysis.op2
notebooks/analyses/13_Nonlinear_Buckling_of_CRM-like_Box_Beam/linear_buckling_344028_elements.op2
notebooks/analyses/13_Nonlinear_Buckling_of_CRM-like_Box_Beam/natural_path_fine_analysis.op2
notebooks/analyses/15_Bifurcation_Existence_Verification_for_the_Box_Beam_Reinforced_with_Ribs/bifurcation_verification_1_6psol105_epsp1e-1.op2
notebooks/analyses/15_Bifurcation_Existence_Verification_for_the_Box_Beam_Reinforced_with_Ribs/bifurcation_verification_2psol105_fine.op2
notebooks/analyses/15_Nonlinear_Buckling_Analysis_of_uCRM-9/bifurcation_verification_desiter12.op2
notebooks/analyses/15_Nonlinear_Buckling_Analysis_of_uCRM-9/bifurcation_verification_desiter20.op2
notebooks/analyses/15_Nonlinear_Buckling_Analysis_of_uCRM-9/bifurcation_verification_epsp1e-1.op2
notebooks/analyses/15_Nonlinear_Buckling_Analysis_of_uCRM-9/bifurcation_verification_epsp1e-3.op2
notebooks/analyses/15_Nonlinear_Buckling_Analysis_of_uCRM-9/bifurcation_verification_natural_path.op2
notebooks/analyses/15_Nonlinear_Buckling_Analysis_of_uCRM-9/bifurcation_verification_natural_path.op2.h5
notebooks/analyses/15_Nonlinear_Buckling_Analysis_of_uCRM-9/nonlinear_analysis_desiter_12.op2
notebooks/analyses/15_Nonlinear_Buckling_Analysis_of_uCRM-9/nonlinear_analysis_error_function_puv.op2
notebooks/analyses/15_Nonlinear_Buckling_Analysis_of_uCRM-9/nonlinear_analysis_error_function_pw.op2
notebooks/analyses/15_Nonlinear_Buckling_Analysis_of_uCRM-9/nonlinear_analysis_error_function_pwu.op2
notebooks/analyses/15_Nonlinear_Buckling_Analysis_of_uCRM-9/nonlinear_analysis_error_function_pwuv.op2
notebooks/analyses/15_Nonlinear_Buckling_Analysis_of_uCRM-9/nonlinear_analysis_initial_load_increment_0_01.op2
notebooks/analyses/15_Nonlinear_Buckling_Analysis_of_uCRM-9/nonlinear_analysis_initial_load_increment_0_10.op2
notebooks/analyses/15_Nonlinear_Buckling_Analysis_of_uCRM-9/nonlinear_analysis_initial_load_increment_0_50.op2
notebooks/analyses/15_Nonlinear_Buckling_Analysis_of_uCRM-9/nonlinear_analysis_load_tolerance_1e-01.op2
notebooks/analyses/15_Nonlinear_Buckling_Analysis_of_uCRM-9/nonlinear_analysis_load_tolerance_1e-02.op2
notebooks/analyses/15_Nonlinear_Buckling_Analysis_of_uCRM-9/nonlinear_analysis_load_tolerance_1e-03.op2
